/*


HEADER


*/

.header {
  background-color: white;
  padding: 0;
  margin: 0;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.logo {
  width: 100%;
  max-width: 150px;
  height: 120px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav ul li {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 20px;
}

.nav ul li:hover {
  border-bottom: var(--secondary-color) 3px solid;
  margin-bottom: -3px;
}

.nav ul li a {
  text-decoration: none;
}

.menuIcon {
  display: none;
}

/*


MEDIA QUERIES


*/

@media only screen and (max-width: 720px) {
  .nav ul li:not(:last-child) {
    display: none;
    margin: 0;
  }

  .menuIcon {
    display: block;
  }

  .nav ul li:hover {
    border: none;
    margin-bottom: 0;
  }
}
